<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Basic Framework</title>
    <link rel='icon' type='image/x-icon' href='data:image/png;base64, {{ logo }}'>

    <link href='data:text/css;base64,{{ bootstrapCss}}' rel='stylesheet'>
    <script src='data:text/javascript;base64,{{ bootstrapJs }}'></script>
</head>
<body>

    <div class="container-fluid my-4">
        <div class="row bg-light">
            <div class="col-md-1">
                <img src="data:image/png;base64, {{ logo }}" alt="Logo" class="w-100" style="border-radius: 15% 15%">
            </div>
            <div class="col-md-11">
                <h3>Welcome to Basic Framework V 1.0</h3>
                <hr>
                <h6>The Basic Framework was developed for PHP v8.0 or higher, read the usage instructions carefully for a better experience...</h6>
            </div>
            
        </div>

        <div class="row my-5">
            <div class="col-md-12 px-5">

                <h3>Create a new Controller</h3><br><br>

                1. Run the command: php basic make:controller sample<br>
                2. Open the file: myproject/app/Http/Controllers/SampleController.php<br><br>

                <h3>Create a new route</h3><br><br>

                1. Open the file: myproject/routers/web.php<br>
                2. Include your controller class in top file:<br><br>

                <spam class="text-primary">use Http\Controllers\YourController;</spam><br><br>

                3. Add a new line with the example code:<br><br>

                Example 1:&emsp;<spam class="text-success">$app->get("/hello", [YourController::class, "helloFunction"]);</spam><br>
                Example 2:&emsp;<spam class="text-success">$app->get("/hello/{param1}/{param2}/...", [YourController::class, "helloFunction"]);</spam><br>
                Example 3:&emsp;<spam class="text-success">$app->post("/save", [YourController::class, "saveFunction"]);</spam><br><br>

                4. Access your new route, open the URL: <spam class="text-info">http://localhost:xxxx/hello</spam><br><br>

                <h3>Create a new  Model</h3><br><br>

                1. Run the command: php basic make:model sample<br>
                2. Open the file: myproject/app/Models/ModelController.php<br><br><br>
            </div>
        </div>
        <hr>
        <h4 class="text-center"> &copy; 2023 - Developed by Diógenes Calheiros da Silva</h4>
    </div>
    
</body>
</html>